{% extends 'base.html' %}


{% block content %}
<div class="container text-center">
	{% for n in name %}
    	<button style="width: 100px;" class="btn btn-primary"><a target="_blank" style="color: white;" href="/admin">{{ n.name }} </a></button>
	{% endfor %}
</div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script>
	  $(document).ready(function(){
	      $("button").click(function(){
	          $(this).hide();
	      });
	  });
  </script>
{% endblock %}